div.content {
    /* width: 960px; */
    margin: 0 auto;
    font-size: larger;
}

body {
    counter-reset: h1counter;
}

numberedheadings h1 {
    counter-reset: h2counter;
}
numberedheadings h1::before {
    counter-increment: h1counter;
    content: counter(h1counter) ". ";
}

numberedheadings h2 {
    counter-reset: h3counter;
}
numberedheadings h2::before {
    counter-increment: h2counter;
    content: counter(h2counter, upper-alpha) ". ";
}

numberedheadings h3 {
    counter-reset: h4counter;
}
numberedheadings h3::before {
    counter-increment: h3counter;
    content: counter(h2counter, upper-alpha) "." counter(h3counter) ". ";
}

numberedheadings h4 {
    counter-reset: h5counter;
}
numberedheadings h4::before {
    counter-increment: h4counter;
    content: counter(h2counter, upper-alpha) "." counter(h3counter) "." counter(h4counter, lower-roman) ". ";
}

header {
    margin-block-start: 1.5em;
    margin-block-end: 2em;
}

header h1 {
    margin-block: 0em;
}

header p {
    margin-block: 0.5em;
}

proof::after {
    vertical-align: -11%;
    content: "\0025FE"; /* "\b" gives an empty square */
}
